<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.zhsa.module_collect">
<!--    android:allowBackup="true"-->
<!--    android:icon="@mipmap/ic_launcher"-->
<!--    android:label="@string/app_name"-->
<!--    android:roundIcon="@mipmap/ic_launcher_round"-->
<!--    android:supportsRtl="true"-->
<!--    android:name="cn.zhsa.common.BaseApplication"-->
<!--    android:theme="@style/appTheme"-->
    <application

        >
        <activity android:name=".CollectActivity">

        </activity>
        <activity android:name=".ui.RectificationNoticeActivity"/>
    </application>

</manifest>